





.bg1 {
    background-image: url("./images/dragon.jpg");
}

.bg3 {
    background-image: url("./images/SSD.png");
}

.close-icon{
    background-image: url("./images/10954.png");
}
