#root {
    padding-top: 20px;
    max-width: 80vw;
    margin: auto;
    width: 400px;
}

table {
    max-width: 500px;
    min-width: 400px;
}

.c-total {
    display: flex;
    min-width: 360px;
    font-size: 14px;
    color: #999aaa;
    line-height: 40px;
}

.c-total div {
    flex: 0 0 50%;
}

table thead {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

table.hovertable {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

table.hovertable th {
    background-color: #c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

table.hovertable tr {
    background-color: #d4e3e5;
}

table.hovertable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}

.mytxt {
    min-width: 250px;
    color: #333;
    line-height: normal;
    font-family: "Microsoft YaHei", Tahoma, Verdana, SimSun;
    font-style: normal;
    font-variant: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    font-size: 15px;
    outline-width: medium;
    outline-style: none;
    outline-color: invert;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-shadow: 0px 1px 2px #fff;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position-x: left;
    background-position-y: top;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    margin-right: 8px;
    border-top-color: #ccc;
    border-right-color: #ccc;
    border-bottom-color: #ccc;
    border-left-color: #ccc;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

button {
    padding: 6px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /* future proofing */
    -khtml-border-radius: 10px;
    /* for old Konqueror browsers */
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    cursor: pointer;
}

.text {
    width: 350px;
    height: 200px;
    position: absolute;
    left: 20%;
    margin-left: -150px;
    background-image: -webkit-linear-gradient(left, blue, #66ffff 10%, #cc00ff 20%, #CC00CC 30%, #CCCCFF 40%, #00FFFF 50%, #CCCCFF 60%, #CC00CC 70%, #CC00FF 80%, #66FFFF 90%, blue 100%);
    -webkit-text-fill-color: transparent;
    /* 将字体设置成透明色 */
    -webkit-background-clip: text;
    /* 裁剪背景图，使文字作为裁剪区域向外裁剪 */
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s linear infinite;
    font-size: 35px;
}

.model-detail {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    min-width: 400px;
    display: none;
}

.model-detail .modal-title{
    text-align: center;
    color: #FFF;
    line-height: 40px;
}

.model-detail .close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #FFF;
}

.u-star-list {
    max-width: 400px;
    max-height: 400px;
    overflow-y: auto;
    line-height: 28px;
    margin-block-start: 6px;
    padding-inline-start: 12px;
}

.u-star-list li {
    list-style: none;
    padding-right: 6px;

}

.u-star-list li a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: rgb(255, 225, 244);
    display: block;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
}