.byte-modal__mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.byte-modal__wrapper {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;
}

.lottery_modal .byte-modal__content {
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}

.byte-modal__content {
    position: relative;
    margin: 0 auto 50px;
    padding: 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
    top: 100px;
    color: #282f38;
}

.lottery_modal .byte-modal__content .byte-modal__header {
    padding: 0 20px;
    line-height: 56px;
}

.byte-modal__body {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
}

.lottery_modal .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lottery_modal .wrapper .title {
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #d25f00;
    opacity: .8;
}

.byte-modal__header {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 30px 12px;
    border-bottom: 1px solid #e5e6eb;
}

.lottery_modal .wrapper .desc {
    text-align: center;
}

.lottery_modal .wrapper .desc p {
    margin: 0;
    padding-top: 8px;
    font-size: 14px;
    line-height: 22px;
    color: #1d2129;
}

.lottery_modal .wrapper .submit {
    margin-top: 32px;
    margin-bottom: 40px;
    padding: 0;
    width: 200px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #1d7dfa;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
}

.lottery_modal.hide .byte-modal__content.byte-modal__content {
    opacity: 0;
    transform: translateY(-50%) scale(0.2)
}

.lottery_modal .byte-modal__content.byte-modal__content {
    animation: zoomOut 300ms linear forwards;
}

@keyframes zoomOut{
    from {
        opacity: 0;
        transform: translateY(-50%) scale(0.2)
    }

    to {
        opacity: 1;
        transform: translateY(-50%) scale(1)
    }
}